@import url('https://fonts.googleapis.com/css?family=Candal|Covered+By+Your+Grace|Nunito|Gloria+Hallelujah');

.row {
  margin: 0;
}

.col-md-4 {
  float: left;
  clear: both;
}

.col-md-7 {
  float: left;
}

.col-md-4 img {
  right: 0;
  top: -150px;
  width: 569px;
  position: absolute;
}

.jumbotron p {
  font-size: 22px;
  font-weight: 900;
  margin-top: 8px;
}

span.cross-out {
  text-decoration: line-through;
  font-weight: 300;
}

.col-lg-7 {
  float: left
}

body {
  font-family: Nunito;
}

@media (min-width: 1200px) {
  .container {
      max-width: 1080px;
  }
}

.content {
  padding: 0 30px;
}

.content h3 {
  font-weight: 700;
  color: #4d139c;
}

.content h3.FAQ {
  color: orange;
  margin-top: 50px;
  margin-bottom: 20px;
}

.content h4 {
  font-size: 18px;
  font-weight: bold;
}

.navbar {
  background: black;
  opacity: .9;
  font-family: Covered By Your Grace;
  color: white;
  font-size: 26px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.schedule-img {
  max-width: 100%;
}

button {
  transition: all .4s;
}

.nav-button {
  border: none;
  background: #fff;
  padding: 0px 10px;
  text-align: center;
  border-radius: 5px;
  transition: all .4s;
  text-decoration: none;
}

.nav-button:hover {
  background: blue;
  color: white;
  cursor: pointer;
  transition: all .4s;
  text-decoration: none;
}



.jumbotron {
  padding-top: 150px;
  margin-bottom: 0px;
  position: relative;
  color: white;
  text-align: center;
  background: url('https://s3.amazonaws.com/whichway-images/bluesplash_small.jpg');
  background-position: bottom;
  background-size: cover;
}

.jumbotron h1 {
    font-family: Covered By Your Grace;
    font-size: 60px;
}

.jumbotron h3 {
    font-family: Candal;
    display: inline-block;
}

.jumbotron-button {
    font-family: Candal;
    background: #ff2266;
    border: none;
    color: white;
    margin-left: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline;
    transition: all .4s;
}

.jumbotron-button:hover {
    background: orange;
    cursor: pointer;
    transition: all .4s;
}

.row {
  padding: 50px 0;
}

.cta {
  background: radial-gradient(circle, #ff7800 1%, #ff2266 90%);
  text-align: center;
  font-family: Candal;
  color: white;
}

.cta h5 {
  margin-top: 30px;
}

.signup {
    background: url(https://s3.amazonaws.com/whichway-images/purplesplash_small.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    font-family: candal;
    text-align: center;
}

.mentor-wrapper {
  width: calc(33% - 60px);
  margin: 20px;
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 500px) {
  .nav-links a {
    display: block;
    font-size: 16px;
  }

  .nav-button {
    padding: 5px 10px !important;
  }
}

@media screen and (max-width: 991px) {

  .mentor-wrapper {
  width: calc(50% - 40px);
  margin: 10px;
  display: inline-block;
}



  .jumbotron h1 {
    font-size: 36px;
}
    .jumbotron h3 {
    font-size: 18px;
      display: block;
      margin-top: 25px;

}

.jumbotron p{
  margin-bottom: 35px;
}

.jumbotron-button {
  margin-top: 30px;
  margin-bottom: 20px;
}


}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {

    .desktop {
    display: none;
  }

  .friday-info {
    width: initial !important;
  }

  .friday-info > div {
    display: block !important;
    float: none !important;
  }

    .jumbotron {
    overflow: hidden;
    padding-bottom: 150px;
  }

  .mobile {
    display: inline-block;
  }

  .mentor-wrapper {
  width: calc(100% - 60px);
  margin: 30px;
  display: inline-block;
}

  .jumbotron img {
    position: absolute;
    width: 300px;
    bottom: -181px;
    left: 0;
    right: -20px;
    margin: 0 auto;
  }
}

.img-wrapper {
  position: relative;

}

.mentor-name {
  position: absolute;
  bottom: 0;
  color: white;
  width: 80%;
  font-size: 18px;
  background: black;
  padding: 10px 12px;
  border-radius: 3px;
  text-align: center;
  left: 0;
  bottom: 20px;
  right: 0;
  margin: auto
}

.mentor-wrapper p {
  width: 80%;
  margin: 0 auto;
}

.mentor {
  border-radius: 50%;
  padding: 20px;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
li {
  /*padding-left: 1.3em;*/
  margin: 10px;
}
li i {margin-right: 5px; }

.friday-info {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.friday-info .title {
  display: inline-block;
}

.deets {
  float: right;
  display: inline-block;
  margin-bottom: 20px;
}
.deets p {
  margin-bottom: .5rem;
}

.deets .emphasis {
  font-family: Gloria Hallelujah;
  font-size: 20px;
}

.friday-info h3 {
  font-family: Gloria Hallelujah;
  color: #e75b82;
  margin-top: 35px;
}

.schedule-info h3 {
  font-family: Gloria Hallelujah;
  color: #1130a1;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.schedule-info {
  width: 100%;
}

.schedule-info p {
  text-align: center;
}

.schedule-info p img {
  width: 60px;
  margin-right: 15px;
}

.day {
  border: 1px dashed rgb(173, 51, 221);
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 20px;
}

.schedule-info ul {
  max-width: 400px;
  margin: 0 auto;
}

.bulletpoints span {
  display: block;
  margin: 10px 0;
}

h2.price {
  font-family: Candal;
  text-align: center;
}

.pricing .jumbotron-button {
  display: block;
  margin: 30px auto 30px auto;
  width: 200px;
  text-align: center;
}

.jumbotron-button:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}